body
{
    margin: 0;
    font: 81.25% Arial, Helvetica, sans-serif;
}

li
{
    margin-bottom: 10px;
}

main
{
    display: grid;
    width: 1150px;
    grid-template-areas: 'q n n n d i' 'l f s s s e' 'z b b b b e'
        'z v v t w e';
    grid-template-columns: 150px 150px 150px 300px 300px 150px;
    margin: 50px auto 0;
}

.logo
{
    grid-area: l;
    padding: 0;
    position: relative;
}

.logo img
{
    position: absolute;
    right: 0;
}

.news
{
    grid-area: n;
}

.news ul
{
    padding: 0;
    margin-top: 0;
}

.news > a,
.drive > a,
section[class*='column'] article > a:first-child,
.column-3 article > a:nth-child(2)
{
    font-size: 138.5%;
    font-weight: 400;
    margin: 5px 0;
}

.drive
{
    text-align: center;
    grid-area: d;
}

.search
{
    grid-column-end: s;
    grid-column-start: f;
}

.banner
{
    grid-area: b;
}

.column-1
{
    grid-area: v;
}

.column-2
{
    grid-area: t;
}

.column-3
{
    grid-area: w;
}

section
{
    display: inline-block;
    padding: 15px;
}

.link
{
    color: #0054b9;
    padding-right: 10px;
    display: inline-block;
}

.news > .link + .link
{
    color: #6da2e1;
}

a
{
    text-decoration: none;
    color: black;
}

a:hover
{
    color: darkred !important;
}

.shadow,
.money :last-child,
.news > span,
.tv :last-child,
.city a,
.column-3 > :last-child,
.auto span
{
    color: #999;
}

.money
{
    display: inline-block;
    padding-right: 10px;
}

.money :last-child
{
    padding: 0 5px;
}

.money :last-child::before
{
    content: '-';
}

figure
{
    margin: 0;
}

figure img
{
    width: 100px;
}

.search input
{
    outline: none;
    border: none;
    width: 80%;
    height: 94%;
    padding: 0 10px;
}

.search button
{
    border: 0;
    box-sizing: border-box;
    display: inline-block;
    background-color: #fc0;

    margin-left: -4px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    position: relative;
    height: 100%;
}

.search-input,
.banner aside img
{
    width: 90%;
    border: 2px solid #fc0;
    box-sizing: border-box;
}

.search-button,
.search-input
{
    height: 36px;
    display: table-cell;
}

.search-input
{
    width: 90%;
}

.search-container
{
    display: table;
    width: 100%;
    margin: 10px 0;
}

.visited
{
    margin: 5px 0;
}

.visited :first-child,
.money a,
.column-3 article:nth-child(3) a:not(:first-child)
{
    font-weight: 700;
}

.column-3 article:nth-child(3) a:not(:first-child):not(:last-child)
{
    display: inline-block;
    margin-bottom: 10px;
}

.small-img
{
    width: 16px;
    margin-right: 10px;
}

section article
{
    margin-bottom: 20px;
    line-height: 1.5;
}

.auto
{
    height: 100%;
    width: 300px;
    overflow: auto;
}

.auto-article
{
    position: relative;
    overflow: hidden;
    width: 275px;
    height: 250px;
}

.auto-article::before,
.auto-article::after
{
    content: '';
    height: 35px;
    position: absolute;
    right: 0;
    left: 0;
}

.auto-article::before
{
    background: linear-gradient(to top, rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1));
    top: 30px;
}

.auto-article::after
{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1));
    bottom: 0;
}

.auto span
{
    margin-left: 10px;
}

label
{
    cursor: pointer;
}

input[type='checkbox'],
input[type='radio'],
input[id='show-settings']:not(:checked) ~ main .settings,
input[id='show-visited']:checked ~ main .column-1 article:first-child,
input[id='show-humor']:checked ~ main .column-1 article:last-child,
input[id='show-tv']:checked ~ main .column-2 article:first-child,
input[id='show-auto']:checked ~ main .column-2 article:last-child,
input[id='show-weather']:checked ~ main .column-3 article:first-child,
input[id='show-auto2']:checked ~ main .column-3 article:nth-child(2),
input[id='show-map']:checked ~ main .column-3 article:nth-child(3),
input[id='show-aphisha']:checked ~ main .column-3 article:last-child
{
    display: none;
}

.city,
label[for='show-settings'],
.settings
{
    display: inline-block;
    position: absolute;
    top: 15px;
}

.city
{
    left: 50px;
}

label[for='show-settings']
{
    right: 115px;
}

.settings
{
    top: 35px;
    right: 50px;
    border: 1px solid black;
    z-index: 1;
}

.settings label::before
{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.settings
{
    padding: 0;
    background: white;
}

.settings label
{
    display: block;
    padding: 10px;
}

.settings label:hover
{
    background-color: #fc0;
}

input[id='show-visited']:checked ~ main label[for='show-visited']::before,
input[id='show-tv']:checked ~ main label[for='show-tv']::before,
input[id='show-humor']:checked ~ main label[for='show-humor']::before,
input[id='show-auto']:checked ~ main label[for='show-auto']::before,
input[id='show-weather']:checked ~ main label[for='show-weather']::before,
input[id='show-auto2']:checked ~ main label[for='show-auto2']::before,
input[id='show-map']:checked ~ main label[for='show-map']::before,
input[id='show-aphisha']:checked ~ main label[for='show-aphisha']::before
{
    background: url('checkbox.png');
    background-size: 16px;
}

input[id='show-visited']:checked ~ input[id='show-humor']:checked ~ main
{
    grid-template-areas: 'q n n n d i' 'l f s s s e' 'z b b b b e'
        'z t t w x e';
}

input[id='show-visited']:checked ~ input[id='show-humor']:checked ~ input[
id='show-tv']:checked ~ input[id='show-auto']:checked ~ main
{
    grid-template-areas: 'q n n n d i' 'l f s s s e' 'z b b b b e'
        'z w w x x e';
}

input[id='show-tv']:checked ~ input[id='show-auto']:checked ~ main
{
    grid-template-areas: 'q n n n d i' 'l f s s s e' 'z b b b b e'
        'z v v w x e';
}

input[id='humor-1']:checked ~ main label[for^='humor']:not([for='humor-2']),
input[id='humor-2']:checked ~ main label[for^='humor']:not([for='humor-3']),
input[id='humor-3']:checked ~ main label[for^='humor']:not([for='humor-4']),
input[id='humor-4']:checked ~ main label[for^='humor']:not([for='humor-5']),
input[id='humor-5']:checked ~ main label[for^='humor']:not([for='humor-1']),
input[id='humor-1']:checked ~ main .humor-article span:not(:nth-of-type(1)),
input[id='humor-2']:checked ~ main .humor-article span:not(:nth-of-type(2)),
input[id='humor-3']:checked ~ main .humor-article span:not(:nth-of-type(3)),
input[id='humor-4']:checked ~ main .humor-article span:not(:nth-of-type(4)),
input[id='humor-5']:checked ~ main .humor-article span:not(:nth-of-type(5))
{
    display: none;
}

.humor-article span
{
    display: block;
}

@media (max-width: 1200px)
{
    .search
    {
        grid-area: s;
    }

    .search-input
    {
        width: 88%;
    }

    .logo
    {
        grid-area: f;
    }

    main
    {
        width: 900px;
        grid-template-columns: 0 150px 150px 300px 300px 0;
    }
}

.tv-online
{
    font-size: 14px;
    letter-spacing: .3px;
    border-radius: 5px;
    background-clip: padding-box;
    background-image: linear-gradient(to right,#00a3fa,#716ef8);
    color: white;
    padding: 3px;
    padding-right: 20px;
    position: relative;
    display: inline-block;
}

.tv-online a
{
    color: white;
}

.search button::after
{
    content: '';
    position: absolute;
    top: 0;
    right: -28px;
    border: 18px solid transparent;
    border-left: 10px solid #fc0;
}

.tv-online::after
{
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    border: 6px solid transparent;
    border-left: 8px solid white;
}

.tv-online a:hover
{
    color: white !important;
}

.tv-online:hover
{
    transform: scale(1.2, 1.2);
}

.column-3 article > a:nth-child(2)
{
    font-size: 2;
}

.tv
{
    position: relative;
}

.tv div
{
    display: inline-block;
    margin-left: 40px;
}

.tv span
{
    position: absolute;
}
